@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* CSS */
h1, h2, h3, h4, li {
  font-family: 'Roboto', 'Times New Roman';
  margin-bottom: 2em;
  padding: 0.1em;
}

li {
  text-align: left;
}

.resume-body {
  font-family: 'Roboto', 'Times New Roman';
  font-size: 1em;
  line-height: 1.6;
  background-color: #8b008b;
  max-width: 60em;
  margin: 0 auto; /* Center block elements */
  text-align: center; /* Center the text */
  position: relative; /* Position to achieve page layout */
}


nav {
  text-align: center;
  background-color: #5c005c;
  margin-bottom: 2em
}

nav ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
  justify-content: space-around;
  float: left; /* Float to achieve horizontal alignment */
}

na ul li {
  display: inline;

nav ul li a {
  color: white;
  text-decoration: none; /* Remove underline */
  display: inline-block;
  padding: 1em 2em;
}

section {
  background-color: #c57fc5;
  padding: 1.5em;
  border-radius: 1em;
  box-shadow: 0.5em 0.5em 2em rgba(0, 0, 0, 0.3);
  margin: 3em auto;
  max-width: 70rem;
  color: white;
}

