@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* CSS */
body {
  font-family: 'Roboto', 'Times New Roman';
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  background-color: #FF77AA;
  text-align: center; /* Center the text */
}

/* Style for each job section */
.resume-section {
  background-color: #FFFFFF; /* Different color for the job section */
  padding: 1em;
  margin: 1em auto; /* Center the job section */
  max-width: 80%; /* Set a max-width for the job section */
  position: relative; /* Position to achieve page layout */
}

nav {
  background-color: #EE82EE; /* Different color for the nav bar */
  width: 100%;
}

nav ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
  display: flex;
  justify-content: space-around;
  float: left; /* Float to achieve horizontal alignment */
}

nav ul li {
  margin: 0 1em;
}

nav a {
  color: white;
  text-decoration: none; /* Remove underline */
  font-size: 1.2em;
}

main {
  max-width: 60em;
  margin: 0 auto; /* Center block elements */
  text-align: center; /* Center the text */
  position: relative; /* Position to achieve page layout */
}

.content-box {
  background-color: #FFC0CB; /* Different color for the content box */
  padding: 1em;
  margin: 1em auto; /* Center the content box */
  max-width: 80%; /* Set a max-width for the content box */
  position: relative; /* Position to achieve page layout */
}

section {
  background-color: CBC3E3;
  padding: 1.5em;
  border-radius: 1em;
  box-shadow: 0.5em 0.5em 2em rgba(0, 0, 0, 0.3);
  margin: 3em auto;
  max-width: 70rem;
  color: white;
}

