@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* CSS */
h1, h2, h3, li {
  font-family: 'Roboto', 'Times New Roman';
  color: gray
  margin-bottom: 2em;
  padding: 0.1em;
}

li {
  text-align: center;
}

body {
  text-align: center;
}

.resume-body {
  font-family: 'Roboto', 'Times New Roman';
  font-size: 1em;
  line-height: 1.6;
  background-color: #8b008b;
  max-width: 60em;
  margin: 0 auto; /* Center block elements */
  text-align: center; /* Center the text */
  position: relative; /* Position to achieve page layout */
}

/* Nav */
nav {
  text-align: center;
}
nav{
  background-color: hotpink;
  margin-bottom: 2em;
}
nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline;
}
  
nav ul li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 1em 2em;
}


section {
  background-color: #c57fc5;
  padding: 1.5em;
  border-radius: 1em;
  box-shadow: 0.5em 0.5em 2em rgba(0, 0, 0, 0.3);
  margin: 3em auto;
  max-width: 70rem;
  color: white;
}

footer {
   text-align: center;
   padding: 10px 0;
}

