@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, sans-serif;
}

nav {
  text-align: center;
  margin: 2em 0;
}

nav ul {
  list-style-type: none; 
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 1em;
}

header, footer, main {
  margin: 0 auto;
  max-width: 60em;
}

.fluid-page {
  max-width: 100%;
}

.food-container {
  display: flex;
  justify-content: space-between;
}

.food-item img {
  width: 120%;
  height: auto;
  max-height: 250px;
  flex-basis: calc(50% - 10px);
  text-align: center;
  margin: 12px
}

.graphic-design {
  margin-top: 20px;
}